<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login - Prepr Network</title>
    <link
        href="https://d2qgo50yy98y8.cloudfront.net/public/adminassets/vendors/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css"
        rel="stylesheet" type="text/css" />
    <link href="bootstrap.min.css" rel="stylesheet">

    <link href="style.css" rel="stylesheet">

    <link rel="stylesheet" href="main.css">

</head>

<body class="login-page">
    <div class="check">
        <div class="container-fluid">
            <div class="col-md-12 sm-p-0">
                <div class="col-md-4 offset-md-7 p-l-80 p-r-0">
                    <div class="card login-card mt-5">
                        <div class="card-header bg-white text-center">
                            <div class="login-logo p-10">
                                    <img src="logo2.png" >
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- form Login -->
                            <form method="POST" action="/login" accept-charset="UTF-8"
                                class="login-form form-horizontal" autocomplete="off">

                                <div class="md-form cs-form">
                                    <input type="text" name="username" id="username" class="form-control" placeholder="User Name or Email"
                                        autocomplete="off">
                                </div>
                                <div class="md-form cs-form">
                                    <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                                        autocomplete="off">
                                </div>
                                <div class="clearfix"></div>
                                <div class="md-form cs-form mt-3">
                                    <div class="forgt-pss-link">
                                        <a href="/">
                                            Forgot password
                                        </a>
                                    </div>
                                </div>
                                <div class="text-center mt-3">
                                    <button class="btn btn-danger btn-block waves-effect waves-light"
                                        type="submit">Login</button>
                                </div>
                                <div class="text-center or">
                                    <p>OR</p>
                                </div>
                                <div class="m-b-5">
                                    <a href="/blank"
                                        class="btn  btn-info btn-block waves-effect waves-light">Continue
                                        with
                                        Microsoft</a>
                                </div>
                                <div class="m-b-5">
                                    <a href="/blank"
                                        class="btn  btn-info btn-block waves-effect waves-light">Continue
                                        with LinkedIn</a>
                                </div>

                                <div class="m-b-5">
                                    <a href="/blank"
                                        class="btn  btn-info btn-block waves-effect waves-light">Continue
                                        with Google</a>
                                </div>

                                <div class="m-b-5">
                                    <a href="/blank"
                                        class="btn  btn-info btn-block waves-effect waves-light">Continue
                                        with Magnet</a>
                                </div>


                            </form>
                            <div class="text-center m-t-8 m-b-5 f-s-14">
                                Don’t have an account? <a href="/register"
                                    class="text-light-green">Sign
                                    up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>