<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login - Prepr Network</title>
    <link
        href="https://d2qgo50yy98y8.cloudfront.net/public/adminassets/vendors/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css"
        rel="stylesheet" type="text/css" />
    <link href="bootstrap.min.css" rel="stylesheet">

    <link href="style.css" rel="stylesheet">

    <link rel="stylesheet" href="main.css">

</head>

<body class="login-page">
    <div class="check">
        <div class="container-fluid">
            <div class="col-md-12 sm-p-0">
                <div class="col-md-4 offset-md-7 p-l-80 p-r-0">
                    <div class="card login-card mt-5">
                        <div class="card-header bg-white text-center">
                            <div class="login-logo p-10">
                                <img src="logo2.png">
                                </a>
                            </div>
                        </div>
                        <div class = "card-body bg-white text-center">
                            <h2>"Welcome Abord!"</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>